<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Ionic Multi Step Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>

    <div class="flex justify-content-space-between ion-margin-top relative">
      <div class="absolute full-width line"></div>
      <div class="flex flex-column justify-content-center full-width"
        *ngFor="let slide of slides; let index = index; let first = first; let last = last;">
        <span [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
          class="flex flex-column align-items-center justify-content-center bold text-medium radius"
          style="width: 30px; height: 30px;"
          [style.background]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-light-shade)'"
          [style.color]="slide === currentSlide ? 'var(--ion-color-light)':'var(--ion-color-dark)'"
          [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }">
          {{ index + 1 }}
        </span>
        <span [style.color]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-medium)'"
          [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
          class="flex text-medium bold ion-margin-vertical">
          {{ slide }}
        </span>
      </div>
    </div>

    <ion-slides [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()"
      (ionSlideWillChange)="onSlidesChanged()">
      <ng-container *ngFor="let slide of slides">
        <ion-slide>

          <div class="full-width ion-text-start">

            <form [formGroup]="waitersListForm" #waitersFormRef="ngForm" novalidate *ngIf="slide === 'Waites List'">

              <ion-list-header class="ion-no-padding" style="min-height: auto;">
                <ion-label class="ion-text-center" color="primary">
                  Waiters List
                </ion-label>
              </ion-list-header>

              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="nameControl?.errors?.required && waitersFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Points</ion-label>
                    <ion-input type="text" formControlName="points"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="pointsControl?.errors?.required && waitersFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Hours</ion-label>
                    <ion-input type="email" formControlName="hours"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="hoursControl?.errors?.required && waitersFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row>

            </form>

            <form [formGroup]="dateForm" #dateFormRef="ngForm" novalidate *ngIf="slide === 'Date'">

              <ion-list-header class="ion-no-padding" style="min-height: auto;">
                <ion-label class="ion-text-center" color="primary">
                  Date
                </ion-label>
              </ion-list-header>

              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Date</ion-label>
                    <ion-input type="text" formControlName="date"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="dateControl?.errors?.required && dateFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row>

              <!-- <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Delivery contact number</ion-label>
                    <input type="tel" formControlName="phone" />
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="shippingPhone?.errors?.required && shippingFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
                <ion-col>
                  <ion-item class="item-select" lines="none">
                    <ion-label position="stacked">Delivery time</ion-label>
                    <select class="text-small" formControlName="delivery_time">
                      <option [value]="null" disabled selected>
                        Select time
                      </option>
                      <option *ngFor="let time of times" [value]="time">
                        {{ time }}
                      </option>
                    </select>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="shippingDeliveryTime?.errors?.required && shippingFormRef?.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Message</ion-label>
                    <ion-input type="text" formControlName="message"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row> -->

              <!-- <div class="flex align-items-center full-width ion-margin-top">
                <div class="ion-margin-end">
                  <h5 class="text-medium bold">Upload image</h5>
                  <ion-button strong shape="round" color="primary" size="small" (click)="presentActionSheet()">
                    Select
                  </ion-button>
                </div>
                <div>
                  <img class="img-thumb" [src]="imagePath" *ngIf="imagePath">
                </div>
              </div> -->

            </form>

            <form [formGroup]="tipsForm" #tipsFormRef="ngForm" novalidate *ngIf="slide === 'Tips'">


              <ion-list-header class="ion-no-padding" style="min-height: auto;">
                <ion-label class="ion-text-center" color="primary">
                  Tips
                  <ion-text color="dark">
                    <p class="ion-text-center">
                      Add total of tips made today
                    </p>
                  </ion-text>
                </ion-label>

              </ion-list-header>

              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Tips amount</ion-label>
                    <ion-input type="text" formControlName="tips"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="paymentNumber?.errors?.required && tipsFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row>

              <!-- <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">Expiration</ion-label>
                    <ion-input type="text" formControlName="expiration"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="paymentExpiration?.errors?.required && tipsFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>

                <ion-col>
                  <ion-item lines="none">
                    <ion-label position="stacked">CVV</ion-label>
                    <ion-input type="text" formControlName="cvv"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <span class="text-tiny"
                      [style.visibility]="paymentCvv?.errors?.required && tipsFormRef.submitted ? '' : 'hidden'">
                      Field required
                    </span>
                  </ion-text>
                </ion-col>
              </ion-row> -->

              <!-- <div class="ion-text-center">
                <ion-button type="button" style="width: 200px;" class="ion-margin-vertical" strong size="large"
                  shape="round" color="primary" (click)="onNextButtonTouched()">
                  Pay {{ order?.total | currency}}
                </ion-button>
              </div> -->

              <!-- <div class="ion-text-center">
                <ion-button type="button" style="width: 200px;" class="ion-margin-vertical" strong size="large"
                  shape="round" color="light" (click)="onBackButtonTouched()">
                  Back
                </ion-button>
              </div> -->

            </form>

            <div *ngIf="slide === 'Summary'">
              <ion-list-header class="ion-no-padding" style="min-height: auto;">
                <ion-label class="ion-text-center" color="primary">
                  Team Entry Details Summary
                </ion-label>
              </ion-list-header>

              <div *ngIf="dateForm.valid">
                <div *ngFor="let control of dateForm.controls | keyvalue: originalOrder">
                  <p class="text-medium margin-v-sm">
                    <span class="bold">
                      {{ control.key.replace('_', ' ') | titlecase }}:
                    </span>
                    {{ control.value.value }}
                  </p>
                </div>
              </div>
              
              <div *ngIf="tipsForm.valid">
                <div *ngFor="let control of tipsForm.controls | keyvalue: originalOrder">
                  <p class="text-medium margin-v-sm">
                    <span class="bold">
                      {{ control.key.replace('_', ' ') | titlecase }}:
                    </span>
                    {{ control.value.value | json }}
                  </p>
                </div>
              </div>

              <div *ngIf="waitersListForm.valid">
                <div class="divider"></div>
                <p class="text-medium bold ion-text-uppercase">
                  Waiters List
                </p>
                <div class="divider"></div>
                <div *ngFor='let item of [1,2,3]'>
                  <p class="text-medium margin-v-sm"
                    *ngFor="let control of waitersListForm.controls | keyvalue: originalOrder">

                    <span class="bold">
                      {{ control.key.replace('_', ' ') | titlecase }}:
                    </span>
                    {{ control. value.value || '--' }}
                  </p>
                  <p>tipsShare: {{ '£25.36' }}</p>
                  <div class="divider"></div>

                </div>
              </div>

              <div class="ion-text-center">
                <ion-button type="button" style="width: 200px;" class="ion-margin-vertical" strong size="large"
                  shape="round" color="primary" (click)="onNextButtonTouched()">
                  Pay {{ order?.total | currency}}
                </ion-button>
              </div>

              <div class="ion-text-center">
                <ion-button type="button" style="width: 200px;" class="ion-margin-vertical" strong size="large"
                  shape="round" color="light" (click)="onBackButtonTouched()">
                  Back
                </ion-button>
              </div>
            </div>

          </div>
        </ion-slide>
      </ng-container>
    </ion-slides>

  </div>
</ion-content>

<ion-footer *ngIf="!isEnd">
  <ion-toolbar>
    <div class="full-width flex align-items-center justify-content-space-between">
      <ion-button style="width: 120px;" strong shape="round" color="dark"
        [style.visibility]="(isBeginning || isEnd) ? 'hidden' : ''" (click)="onBackButtonTouched()">
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button style="width: 120px;" strong shape="round" color="primary" [style.visibility]="isEnd ? 'hidden' : ''"
        (click)="onNextButtonTouched()">
        <span>Next</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>